.segment-crypto {
	.cryto-graph {
		background-color: rgb(0 0 0 / 50%);
		border: 1px solid rgb(193 193 193 / 13%);
		border-radius: 0.25rem;
		padding: 20px;
		margin-bottom: 20px;

		.ct-label {
			color: rgb(193 193 193);
		}
	}

	.bitcoin .ct-series-b .ct-bar,
	.bitcoin .ct-series-b .ct-line,
	.bitcoin .ct-series-b .ct-point,
	.bitcoin .ct-series-b .ct-slice-donut {
		stroke: #f7931a;
	}

	.bitcoin .ct-series-a .ct-bar,
	.bitcoin .ct-series-a .ct-line,
	.bitcoin .ct-series-a .ct-point,
	.bitcoin .ct-series-a .ct-slice-donut {
		stroke: #814d0c;
	}

	.ethereum .ct-series-b .ct-bar,
	.ethereum .ct-series-b .ct-line,
	.ethereum .ct-series-b .ct-point,
	.ethereum .ct-series-b .ct-slice-donut {
		stroke: #627eea;
	}

	.ethereum .ct-series-a .ct-bar,
	.ethereum .ct-series-a .ct-line,
	.ethereum .ct-series-a .ct-point,
	.ethereum .ct-series-a .ct-slice-donut {
		stroke: #192969;
	}

	.basic-attention-token .ct-series-b .ct-bar,
	.basic-attention-token .ct-series-b .ct-line,
	.basic-attention-token .ct-series-b .ct-point,
	.basic-attention-token .ct-series-b .ct-slice-donut {
		stroke: #ff5000;
	}

	.basic-attention-token .ct-series-a .ct-bar,
	.basic-attention-token .ct-series-a .ct-line,
	.basic-attention-token .ct-series-a .ct-point,
	.basic-attention-token .ct-series-a .ct-slice-donut {
		stroke: #7e2800;
	}
}
