{
	"views": [
		{
			"type": "timedate",
			"background": "#02009a",
			"randomBackground": true
		},
		{
			"type": "communicator",
			"endpoint": "http://localhost:43594/",
			"key": "anyacceptablecharacterswilldo",
			"background": "#210000"
		}
	]
}