{
	"views": [
		{
			"type": "timedate",
			"background": "#02009a",
			"randomBackground": true
		},
		{
			"type": "communicator",
			"endpoint": "http://localhost:43594/",
			"key": "anyacceptablecharacterswilldo",
			"background": "#210000"
		},
		{
			"type": "crypto",
			"track": ["bitcoin", "ethereum", "basic-attention-token"],
			"titles": ["Bitcoin", "Etherium", "Basic Attention Token"],
			"background": "#c74a00"
		}
	]
}