{
	"views": [
		{
			"type": "helloworld",
			"background": "#02009a"
		},
		{
			"type": "communicator",
			"endpoint": "http://localhost:43594/",
			"background": "#210000"
		}
	],
	"speed": 30000
}